<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.igniterealtime.openfire.gardiyan.GardiyanPlugin</class>
   <name>Gardiyan Agent Registration</name>
   <description>Yeni kullanıcı eklendiğinde otamatik olarak roster oluşturur.</description>
   <author>Emre Erdal</author>
   <version>1.0.0</version>
   <date>27/05/2021</date>
   <minServerVersion>4.0.0</minServerVersion>
    <!-- And if it won't work after:
   <maxServerVersion>4.3.0</maxServerVersion>
   -->
</plugin>