# Karcin TEMPLATE OAuth Properties
#********************************************************************
oauth.login.url=http://localhost:8181/karcin-auth/ui/
oauth.userInfo.url=http://localhost:8181/karcin-auth/userInfo
oauth.logout.url=http://localhost:8181/karcin-auth/logout
oauth.client.infoUrl=http://localhost:8181/karcin-auth/domainInfo
oauth.client.id=2
#********************************************************************
# Karcin TEMPLATE API Properties
#********************************************************************
processor.module=karcin-log-rest
processor.package=com.karcin.log.rest.processors
entity.module=karcin-log-persistence
entity.package=com.karcin.log.persistence.entities
#********************************************************************
# Karcin TEMPLATE UI Properties
#********************************************************************
resource.path=http://localhost:8091/
resource.type=http
ui.path=/karcin-log/ui
#********************************************************************
# Karcin TEMPLATE Properties
#********************************************************************
rabbit.host=rabbitmq
rabbit.port=5672
rabbit.username=guest
rabbit.password=guest

mongo.host=mongodb
mongo.port=27017
mongo.username=gardiyan
mongo.password=Cekino.123!

client.host=172.16.6.155:7200

collection.names=agentOperationHistory,agentPortAlarm,agentUserLoginLog,critical,device,fileIntegrity,processMonitor,serviceAlarm,softwareMetric,usbConnect,usbFile,trendMicro,uptimeInfo

#********************************************************************
#Trend Micro Configuration
#********************************************************************

tm.useUrlBase = https://172.16.6.245:443
tm.useApplicationId = B8A721B1-512A-432E-BDD5-36B80FEFF369
tm.useApiKey = B784751C-9FF0-481A-8B4E-B8D3EF523EB8
